<footer class="site-footer">
  <div class="container">
    <p>&copy; 2023 GameZone. All rights reserved.</p>
    <div class="social-media">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <!-- Add more social icons as needed -->
    </div>
  </div>
</footer>
